.input {
  flex: 1;
  max-width: 170px;
  padding: 6px 12px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

@media screen and (min-width: 425px) {
  .input {
    max-width: 240px;
  }
}