.container {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 16px 16px 0 16px;
  }
  
  .container.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 36px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .description {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 16px;
  }
  
  .notFoundImg {
    min-width: 250px;
    max-width: 500px;
    width: 50vw;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .notFoundImg {
      width: 80vw;
      max-width: 400px;
    }
  }